{
	"presets": [
		"env",
		"stage-2",
		[
			"es2015",
			{
				"modules": false
			}
		]
	],
	"plugins": [
		"transform-runtime",
		"transform-decorators-legacy",
		"transform-class-properties",
		[
			"import",
			{
				"libraryName": "iview",
				"libraryDirectory": "src/components"
			}
		]
	]
}